

body {
    font-family: 'Raleway', sans-serif;
    background-image: url('./img/bg.jpg');
    background-size: cover;
   
    
}

#input {
    width:50%;
    margin:0 auto;
}


#container {
    background-color: 	#03C0DA;
    display:flex;
    flex-direction: column;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    outline:solid 1px black;
   padding:10px;
   
   
  
}

#quotelijst {
    color: #000000;
    background: #FFFFFF;
    text-shadow: 2px 2px 0 #bcbcbc, 2px 2px 0 white;
    list-style-type: none;
    text-align:center;
    background-color:	#03C0DA;
    font-size: 30px;
 

  

}

/* #quotelijst li {
    margin-bottom:10px;
} */


#quotelijst p {
    margin-top:0;
    font-size:15px;
    
}


h1 {
    background: -webkit-linear-gradient(#F06C13, #F0E613);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px blue;
  font-size:50px;
  font-family: 'Anton', sans-serif;
}

#foto {
    background-size:cover;
    width:50%;
    height:200px;
    margin:0 auto;
    outline: solid 2px blue;
    
}

#btnAuth, #btnRand, #btnQuo {
    width:50%;
    margin:0 auto;
    margin-bottom:10px;
    border:solid 2px blue;
    padding:5px;
}


a {
    text-decoration: inherit;
}


.naamlijst {
    cursor: default;
    overflow:hidden;
    
}

.naamlijst p:hover{
    background-color: -webkit-linear-gradient(#F06C13, #F0E613);
}
